<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>irra</title>
    <style>
        html, body{
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <h1>
        Bem vindo(a)
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil corrupti perspiciatis repellat saepe voluptatem natus placeat repellendus possimus architecto fuga nostrum voluptate atque velit, autem voluptatibus quod mollitia qui!</p>
    <h2>Bem vindo 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptas eius quos sapiente, mollitia reprehenderit qui, autem neque voluptatibus ea eos quis odio dolorem ullam veniam! Velit pariatur consequuntur quidem.</p>



</body>
</html>